body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-text{
    min-height: 100vh; 
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size:12vw;
}
